<footer class="footer">
      <div class="container text-center">
        <span class="text-muted">&copy; 2018 Camp Pro by Kevin Carl David</span>
      </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>