html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.left-nav {
    line-height:65px; 
    font-size:15px; 
    padding-left: 15px;    
}

.navbar-brand {
    padding: 10px 15px;
}

.signedin {
    color: #58AED1 !important;    
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.thumbnail {
    padding: 0;
}
.thumbnail img {
    width: 100%;
}
.inline-form {
    display: inline;
}

.comment-delete {
    background: none;
    border: none;
    color: #337ab7;
    font-size: 14px;
}
.comment-delete:hover {
    color: #23527c;
    text-decoration: underline;
}
.index-img:hover {
    opacity: 0.8;
}
.index-img {
    height: 190px!important;
}

.form-width {
    width: 60%;
    margin: 30px auto;
}
.forms {
    margin-top: 50px;
}

.disp-flex {
    display: flex; 
    flex-wrap: wrap;
}

.jumbotron {
    background: url('https://images.pexels.com/photos/803226/pexels-photo-803226.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350') center;
    background-size: cover;
    color: rgb(230,230,230);
}

.fa-tree {
    font-size: 25px;
    color: #3d7e00;
}

.anim {
    font-size: 70px;
    color: #3d7e00;
    animation: jiggle 2s ease-in infinite;
}

.frm-head {
    color: #6f6f6f;
}

#divider {
    width: 70%;
}

#su-btn {
    color: yellow;
    font-weight: 400;
    font-style: italic;
    font-size: 110%;
}

#jumbo-lead,
#jumbo-p1,
#jumbo-p2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}



@keyframes jiggle {
  48%, 62% {
    transform: scale(1.0, 1.0)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  56% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }
}

@media (max-width: 990px) {
    .form-width {
        width: 90%;
    }    
    
    #jumbo-lead {
        font-size: 50px;
    }
}
@media (max-width: 768px) {
    #jumbo-lead {
        font-size: 30px;
    }
    #jumbo-p1,
    #jumbo-p2{
        font-size: 15px;
    }
}
